@{
    ViewData["Title"] = @Model.Name;
}

@model Dish

<nav class="text-center">
    <h1 class="mt-5">@Model.Name</h1>
    <p class="d-flex justify-content-center gap-2"><a href="/">Home</a> | <a asp-action="NewDish">Add a Dish</a></p>
</nav>
<div class="d-flex flex-column align-items-center">
    <h2 class="mt-5" style="border-bottom: 2px solid black;">@Model.Name by @Model.Chef</h2>
    <strong>@Model.Description</strong>
    <strong>Calories: @Model.Calories</strong>
    <strong>Tastiness: @Model.Tastiness</strong>
    <div class="d-flex gap-2 mt-5">
        <form asp-action="DestroyDish" asp-controller="Home" method="post" asp-route-DishId="@Model.DishId">
            <button class="btn btn-danger" style="width: 5em;">Delete</button>
        </form>
        <a class="btn btn-primary" style="width: 5em;" href="@Model.DishId/edit">Edit</a>

    </div>
</div>