@{
    ViewData["Title"] = "Weddings";
}
@model MyViewModel
<div class="d-flex justify-content-between align-items-center mt-4">
    <div>
        <h3 style="padding: 0; margin: 0;">Welcome @Context.Session.GetString("UserFirst")!</h3>
    </div>
    <div>
        <ul class="d-flex gap-2 list-unstyled" style="padding: 0; margin: 0;">
            <li>Home</li>
            <li>|</li>
            <li><a asp-action="PlanWedding">Plan a Wedding</a></li>
            <li>|</li>
            <li>
                <form asp-action="Logout" asp-controller="Home" method="post">
                    <input class="logout-link" type="submit" value="Logout"
                        style="border: none; background:none; color:#0D6EFD; text-decoration: underline; padding:0; margin:0;" />
                </form>
            </li>
        </ul>
    </div>
</div>
<div style="height: 2px; width: 100%; background-color: black; margin-top: 5px;"></div>
<main class="mt-4">
    <div style="border: 2px solid black; margin:0; padding: 0;">
        <table class="table table-secondary table-striped table-hover m-0 p-0">
            <thead>
                <tr>
                    <th style="border-right: 1px solid black;">Wedding of</th>
                    <th style="border-right: 1px solid black;">Date</th>
                    <th style="border-right: 1px solid black;">Guest Count</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Wedding i in Model.AllWeddings)
                {
                    <tr>
                        <td style="border-right: 1px solid black; border-bottom: none; border-top: none;">
                            <a asp-action="ShowWedding" asp-route-id="@i.WeddingId" style="text-decoration: none;">@i.WedderOne & @i.WedderTwo</a>
                        </td>
                        <td style="border-right: 1px solid black; border-bottom: none; border-top: none;">
                            @i.WeddingDate.ToString("MMM d, yyyy")
                        </td>
                        <td style="border-right: 1px solid black; border-bottom: none; border-top: none;">@i.GuestList.Count
                        </td>
                        <td style="border-bottom: none; border-top: none;">
                            @if (i.CreatorId == @Context.Session.GetInt32("UserId"))
                            {
                                <form asp-action="DestroyWedding" asp-controller="Home" asp-route-id="@i.WeddingId" method="post">
                                    <button style="border:none; background:none; margin:0; padding:0; color: red; text-decoration: underline;">Delete</button>
                                </form>
                            }
                            else
                            {
                                @* if(i.GuestList.Any(e => e.UserId == @Context.Session.GetInt32("UserId"))) *@
                                bool inList = false;
                                foreach (WeddingAssociation association in i.GuestList)
                                {
                                    if (association.User.UserId == @Context.Session.GetInt32("UserId"))
                                    {
                                        inList = true;
                                    }
                                }
                                if (inList == true)
                                {
                                    <form asp-action="UNRSVP" asp-controller="Home" asp-route-id="@i.WeddingId" method="post">
                                        <button style="border:none; background:none; margin:0; padding:0; color: rgb(0,0,0); text-decoration:underline;">Un-RSVP</button>
                                    </form>
                                }
                                else
                                {
                                    <form asp-action="RSVP" asp-controller="Home" asp-route-id="@i.WeddingId" method="post">
                                        <button style="border:none; background:none; margin:0; padding:0; color:#0D6EFD; text-decoration:underline;">RSVP</button>
                                    </form>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
