@model MyViewModel
<nav>
    @await Html.PartialAsync("_Nav")
</nav>
<div class="d-flex flex-column justify-content-center align-items-center">
    @await Html.PartialAsync("_PostMessage", Model.Message)
</div>
<div>
    <ul class="list-unstyled">
        @foreach(Message m in Model.AllMessages)
        {
            <li class="d-flex flex-column mt-4 mb-5">
                <p class="h5">@m.Creator.FirstName @m.Creator.LastName[0] - @m.CreatedAt.ToString("MMMM d, yyyy")</p>
                <p class="mx-4 mt-2">@m.Content</p>
                <div class="mx-5">
                    <ul>
                        @foreach(Comment c in Model.AllComments)
                        {
                            <li class="list-unstyled">
                                <p>@c.Creator.FirstName @c.Creator.LastName[0] - @c.CreatedAt.ToString("MMMM d, yyyy")</p>
                                <p>@c.Content</p>
                            </li>
                        }
                    </ul>
                    @await Html.PartialAsync("_Comments", Model.Comment)
                </div>
            </li>
        }
    </ul>
</div>